 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: -39px auto 0 156px;
}

.u-section-1 .u-tabs-1 {
  min-height: 439px;
  margin: 11px auto 60px 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 303px;
  width: 1075px;
  margin: 29px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 24px;
  padding-right: 24px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  margin: 92px auto 0 0;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 96px;
  margin: -28px 0 0 395px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

.u-section-1 .u-icon-1 {
  width: 73px;
  height: 73px;
  margin: -71px auto 0 296px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: -25px auto 0 333px;
}

.u-section-1 .u-text-4 {
  margin: -64px 731px 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  min-height: 290px;
  width: 1075px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  margin: 92px auto 0 28px;
}

.u-section-1 .u-form-2 {
  background-image: none;
  height: 96px;
  margin: -28px 28px 0 357px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

.u-section-1 .u-icon-3 {
  width: 0;
  height: 0;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 73px;
  height: 73px;
  margin: -96px auto 0 284px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 30px;
  height: 30px;
  margin: -24px auto 0 327px;
}

.u-section-1 .u-text-6 {
  margin: -41px 808px 0 28px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 302px;
  width: 1075px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-1 .u-text-7 {
  font-weight: 600;
  margin: 91px auto 0 1px;
}

.u-section-1 .u-form-3 {
  background-image: none;
  height: 96px;
  margin: -27px 0 0 361px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

.u-section-1 .u-text-8 {
  margin: -61px 718px 0 0;
}

.u-section-1 .u-icon-6 {
  width: 73px;
  height: 73px;
  margin: -49px auto 0 278px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 30px;
  height: 30px;
  margin: -19px auto 0 314px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -40px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 98px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 19px;
    margin-left: 260px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -108px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 50px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -72px;
    margin-right: 596px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 98px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 194px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -78px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -89px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -5px;
    margin-left: 268px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -40px;
    margin-right: 649px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 98px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 19px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -36px;
    margin-right: 649px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 225px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 28px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -133px;
    margin-left: 223px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -47px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 28px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -103px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 213px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 201px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -15px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 28px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 2px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 165px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: -4px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: -25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -51px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -88px;
    margin-left: 173px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 169px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -72px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 82px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -51px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -75px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 168px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 158px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 82px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -8px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: 402px;
    margin-left: 98px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 880px;
    margin-top: -417px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -38px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -91px;
    margin-left: 106px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 104px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 24px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -38px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -61px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 97px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -40px;
    margin-right: 85px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -38px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -19px;
    margin-right: 85px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 99px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 92px;
  }
}